@CHARSET "UTF-8";

thead {
	text-align: center;
	background-color: #1E90FF;
}

tbody {
	
}

tfoot {
	text-align: center;
	background-color: #FFD700;
}

tablaDentro{
	width: 100%;
	 border="1";
	 cellspacing="5";
}

.diasSemana {
	font-weight: bold;
	background-color: #FFD700;
}

#descanso{
	text-align: center;
	background-color: #ff208f;
}