@CHARSET "UTF-8";

thead {
	text-align: center;
	background-color: #1E90FF;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

tbody {
	
}

tfoot {
	text-align: center;
	background-color: #a4dbf9;
}

#tablaDentro {
	width: 100%; border ="1"; cellspacing ="5";
	text-align: center;
}

.diasSemana {
	font-weight: bold;
	background-color: white;
}

.horas {
	font-weight: bold;
	background-color: #FFD700;
}

#descanso {
	text-align: center;
	background-color: #ff208f;
}

table, td, th {
	border: 1px solid gray
}